@using Alfursan.Domain
@using Alfursan.Web.Models

@using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "/Archive/SendMail" }))
{
    @Html.AntiForgeryToken()

    var currentUser = (User)Session["CurrentUser"];
    var customers = (List<User>)ViewBag.CustomerList;


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (customers.Count > 1 && currentUser.ProfileId != (int)EnumProfile.Customer)
        {
            <div class="well" style="max-height: 600px; overflow: auto;">

                <div class="row">
                    <input type="text" class="form-control" name="search-customer" placeholder="Search Customer"/>
                </div>

                <div class="row">
                    <ul id="check-list-box" class="list-group checked-list-box">
                        @foreach (var user in customers)
                        {
                            <li class="list-group-item" data-color="info" data="@user.UserId" data-email="@user.Email">@user.Name @user.Surname</li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
}
