@using Alfursan.Domain

@using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "/Archive/SendMail" }))
{
    @Html.AntiForgeryToken()

    var currentUser = (User)Session["CurrentUser"];
    var customers = (List<SelectListItem>)ViewBag.CustomerList;


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @if (customers.Count > 1 && currentUser.ProfileId != (int)EnumProfile.Customer)
            {
                <div class="form-group customer-dropdown-select">
                    <label for="drpUser">@Resources.Files.Customer</label>
                    <select id="drpUser" name="customerUserId" class="selectpicker">
                        <option data-hidden="true">@Resources.Files.Select</option>
                        @foreach (var user in customers)
                        {
                            <option value="@user.Value">@user.Text</option>
                        }
                    </select>
                </div>
            }
        </div>
    </div>
}


<link href="~/Plugins/Dropdown/css/bootstrap-select.css" rel="stylesheet" />

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        });

    </script>

}
