@using System.Threading
@using Alfursan.Domain

@model IEnumerable<Alfursan.Web.Models.AlfursanFileViewModel>
@{
    var currentUser = (User)Session["CurrentUser"];
}
<div class="alert alert-danger" id="message-delete-file">
    <span id="filename"></span>
    @Alfursan.Resx.MessageResource.Warning_DeleteFile
    <input type="hidden" name="FileId" id="FileId" />
    <input type="hidden" name="selectedRow" id="selectedRow" />
    <input type="button" class="btn btn-xs" id="delete-file-ok" value="@Alfursan.Resx.Management.btnOk" />
    <input type="button" class="btn btn-primary btn-xs" id="delete-file-cancel" value="@Alfursan.Resx.Management.btnNo" />
</div>

<table id="grid-files" class="table table-striped table-bordered hover">
    <thead>
        <tr>
            <th>@{Write(Alfursan.Resx.Archive.CreatedDate);}</th>
            <th>@{Write(Alfursan.Resx.Archive.FileName);}</th>
            <th>@{Write(Alfursan.Resx.Archive.FileType);}</th>
            <th>@{Write(Alfursan.Resx.Archive.CustomerName);}</th>
            <th>@{Write(Alfursan.Resx.Archive.CreatedBy);}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var file in Model)
            {
                <tr data="@file.FileId">
                    <td>@file.CreateDate</td>
                    <td><a href="/Uploaded/@file.RelatedFileName" download> @file.OriginalFileName</a></td>
                    <td>@file.FileType</td>
                    <td>@file.Customer.FullName</td>
                    <td>@file.CreatedUser.FullName</td>
                    
                    <td>
                        @if (currentUser.ProfileId != (int)EnumProfile.CustomOfficer || file.CreatedUser.CreatedUserId == currentUser.UserId)
                        {
                            if (currentUser.ProfileId != (int)EnumProfile.Customer || file.CreatedUser.CreatedUserId == currentUser.UserId)
                            {
                                <span class="glyphicon glyphicon-trash delete-file" data="@file.FileId" filename="@file.OriginalFileName"></span>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts
{
    <script src="~/Scripts/Alfursan.Ajax.js"></script>

    <script>
        $(document).ready(function () {

            var dt = $('#grid-files').dataTable({
                "order": [[0, "desc"]],
                "language": {
                    "url": "/Plugins/Datatable/lang/en.txt"
                }
            });

            var message = $("#message-delete-file");
            $(message).css("display", "none");

            $(".delete-file").click(function () {
                var id = $(this).attr("data");
                var container = $("#message-delete-file");
                $("#filename").html(id);
                $("#FileId").val(id);

                $(container).show("slow");

                $("#delete-file-cancel").click(function () {
                    $(container).hide(1000);
                });

                var targetRow = $(this).closest("tr").get(0);
                var aPos = dt.fnGetPosition(targetRow);

                $('#selectedRow').val(aPos);
            });

            $("#delete-file-ok").click(function () {
                $("#message-delete-file").hide(1000);

                var id = $("#FileId").val();

                var url = "/Archive/DeleteFile/" + id;
                AlfursanAjax.Request(url, "post", null, null, function () {
                    dt.fnDeleteRow($('#selectedRow').val());
                });
            });

        });

    </script>
}