@using Alfursan.Domain
@model IEnumerable<Alfursan.Web.Models.UserListViewModel>

@{
    var currentUser = (User)Session["CurrentUser"];
}
<table id="grid-users" class="table table-striped table-bordered hover " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>@{Write(Alfursan.Resx.Management.Profile);}</th>
            <th>@{Write(Alfursan.Resx.Management.Name);}</th>
            <th>@{Write(Alfursan.Resx.Management.Surname);}</th>
            <th>@{Write(Alfursan.Resx.Management.Email);}</th>
            <th>@{Write(Alfursan.Resx.Management.Phone);}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var user in Model)
            {
                <tr data="@user.UserId">
                    <td>
                        @if ((currentUser.ProfileId == (int)EnumProfile.Admin && !user.Email.Equals(currentUser.Email)) || (user.ProfileId != EnumProfile.Admin))
                        {
                            if (user.Status)
                            {
                                <img src="/Images/icon-active.png" width="16" height="16" name="change-status-passive" class="status-icon" data="@user.UserId" />
                            }
                            else
                            {
                                <img src="/Images/icon-passive.png" width="16" height="16" name="change-status-active" class="status-icon" data="@user.UserId" />
                            }
                        }
                    </td>
                    <td>
                        <span class="hidden">@((int)user.ProfileId)</span>
                        @(user.ProfileId)
                    </td>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>
                        @if ((currentUser.ProfileId == (int)EnumProfile.Admin) || (user.ProfileId != EnumProfile.Admin))
                        {
                            <span class="glyphicon glyphicon-pencil edit-user" data="@user.UserId"></span>
                        }
                        @if (user.ProfileId != EnumProfile.Admin)
                        {
                            <span class="glyphicon glyphicon-trash delete-user" data="@user.UserId" email="@user.Email"></span>
                        }
                        <span class="glyphicon glyphicon-lock btn-change-pass" email="@user.Email"></span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
