@using Alfursan.Domain
@model IEnumerable<Alfursan.Web.Models.UserListViewModel>

@{
    var currentUser = (User)Session["CurrentUser"];
}
<table id="grid-users" class="table table-striped table-bordered hover " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>@{Write(Resources.Management.Profile);}</th>
            <th>@{Write(Resources.Management.Name);}</th>
            <th>@{Write(Resources.Management.Email);}</th>
            <th>@{Write(Resources.Management.Phone);}</th>
            <th>@{Write(Resources.Management.CustomOfficer);}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var user in Model)
            {
                <tr data="@user.UserId">
                    <td>
                        <div class="checkbox col-lg-2">
                            <input type="checkbox" name="file" data="@user.Email" >
                        </div>
                    </td>
                    <td>
                        @if ((currentUser.ProfileId == (int)EnumProfile.Admin && !user.Email.Equals(currentUser.Email)) || (user.ProfileId != EnumProfile.Admin))
                        {
                            if (user.Status)
                            {
                                <img src="/Images/icon-active.png" width="16" height="16" name="change-status-passive" class="status-icon" data="@user.UserId" />
                            }
                            else
                            {
                                <img src="/Images/icon-passive.png" width="16" height="16" name="change-status-active" class="status-icon" data="@user.UserId" />
                            }
                        }
                    </td>
                    <td>
                        <span class="hidden">@((int)user.ProfileId)</span>
                        @(user.ProfileId)
                    </td>
                    <td>@user.Name @user.Surname</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.CustomOfficer</td>
                    <td>
                        @if (currentUser.ProfileId == (int)EnumProfile.Admin)
                        {
                            <span class="glyphicon glyphicon-edit edit-user" data="@user.UserId"></span>
                            <span class="glyphicon glyphicon-lock btn-change-pass" email="@user.Email"></span>
                            if (user.ProfileId != EnumProfile.Admin)
                            {
                                <span class="glyphicon glyphicon-trash delete-user" data="@user.UserId" email="@user.Email"></span>
                            }
                        }
                        else if ((currentUser.ProfileId == (int)EnumProfile.User) && (user.ProfileId == EnumProfile.Customer || user.ProfileId == EnumProfile.CustomOfficer))
                        {
                            <span class="glyphicon glyphicon-edit edit-user" data="@user.UserId"></span>
                            <span class="glyphicon glyphicon-lock btn-change-pass" email="@user.Email"></span>
                            <span class="glyphicon glyphicon-trash delete-user" data="@user.UserId" email="@user.Email"></span>
                        }
                        else if (currentUser.ProfileId == (int)EnumProfile.User && user.UserId == currentUser.UserId)
                        {
                            <span class="glyphicon glyphicon-edit edit-user" data="@user.UserId"></span>
                            <span class="glyphicon glyphicon-lock btn-change-pass" email="@user.Email"></span>
                        }
                        <span class="glyphicon glyphicon-envelope btn-send-mail" email="@user.Email"></span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
