@using System.Resources
@using Alfursan.Domain
@using Alfursan.Web.Models
@using Microsoft.Ajax.Utilities

@model List<UserListViewModel>

<div class="new-user-button">
    <button class="btn btn-primary" id="create-user">
        @Resources.Management.Btn_NewUser
    </button>
</div>
@{ Html.RenderAction("_CreateUserView", new { id = 0 });}

<div class="alert alert-danger" id="message-delete-user">
    <span id="user-email"></span>
    @ViewBag.DeleteMessage
    <input type="button" class="btn btn-xs" id="delete-user-ok" value="@Resources.Files.btnOk" />
    <input type="button" class="btn btn-primary btn-xs" id="delete-user-cancel" value="@Resources.Files.btnNo" />
</div>
<div id="grid-container">
</div>
<div class="clearfix"></div>
<input type="button" class="btn btn-primary" id="send-bulk-mail" value="@Resources.Management.Modal_Btn_SendMail" />
<label class="error-select-user">@Resources.Management.MessageSelectUser</label>
<div class="clearfix"></div>

@{ Html.RenderPartial("_ChangePass", new ChangePassViewModel());}
@{ Html.RenderPartial("_SendMailView");}


@section scripts
{
    <script>
        $(document).ready(function () {
            AlfursanManagement.UserListInit();
        });

    </script>
}