@using System.Resources
@using Microsoft.Ajax.Utilities
@model List<Alfursan.Web.Models.UserListViewModel>
<h2>UserListView</h2>

<button class="btn btn-primary" id="create-user">
    New
</button>
@Html.Partial("/Views/Shared/_ModalView.cshtml")
@section scripts
{
    <script type="text/javascript" src="~/Scripts/Alfursan.Management.js"></script>
    <script>
        $(document).ready(function () {
            AlfursanManagement.GetUserList("sd");
        });
        $("#create-user").click(function () {
            AlfursanManagement.OpenCreateUserModel();
        });
        $("input[name='delete-user']").click(function() {
            var id = $(this).attr("data");
            alert(id);
        });
    </script>
}
<div id="grid-container">
    <table id="grid-users" class="table table-striped table-bordered hover " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>@{Write(Alfursan.Resx.Management.Profile);}</th>
                <th>@{Write(Alfursan.Resx.Management.Name);}</th>
                <th>@{Write(Alfursan.Resx.Management.Surname);}</th>
                <th>@{Write(Alfursan.Resx.Management.Email);}</th>
                <th>@{Write(Alfursan.Resx.Management.Phone);}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var user in Model)
                {
                    <tr data="@user.UserId">
                        <td>@user.ProfileId</td>
                        <td>@user.Name</td>
                        <td>@user.Surname</td>
                        <td>@user.Email</td>
                        <td>@user.Phone</td>
                        <td><input type="button" value="@Alfursan.Resx.Management.btnDelete" class="btn" name="delete-user" data="@user.UserId" /></td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
