@using System.Globalization
@using System.Threading

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Menu
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
        <li>@Html.ActionLink("Güncel", "Index", "Home")</li>
        <li>@Html.ActionLink("Arşiv", "Index", "Home")</li>
        <li>@Html.ActionLink("Diğer", "Index", "Home")</li>
        <li>@Html.ActionLink("Hesap Arşivi", "Index", "Home")</li>
        <li>@Html.ActionLink("Mail Gönder", "Index", "Home")</li>
        <li>@Html.ActionLink("Dosya Ekle", "Index", "Home")</li>
        <li>@Html.ActionLink("Yönetim", "Index", "Management")</li>
    </ul>
    @Html.Partial("_LoginPartial")
}
@RenderBody()


