@using System.Globalization
@using System.Threading

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Menu
{

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
            <li><a href="/Archive/Files">Hesap Arşivi</a></li>
            <li>@Html.ActionLink("Mail Gönder", "Index", "Home")</li>
            <li><a href="/Archive/File/">Dosya Ekle</a></li>
            <li>@Html.ActionLink("Users", "UserList", "Management")</li>
            <li>@Html.ActionLink("Profiles", "EditProfileRole", "Management")</li>
        </ul>
    </div>
    @Html.Partial("_LoginPartial")
}
@RenderBody()

@section scripts
{
    @RenderSection("scripts", required: false)
}