@using System.Globalization
@using System.Threading

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Menu
{

    <div class="navbar-collapse collapse">
        @Html.Partial("_LoginPartial")
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
            <li><a href="/Archive/Files">Hesap Arşivi</a></li>
            <li>@Html.ActionLink("Mail Gönder", "Index", "Home")</li>
            <li><a href="/Archive/File/">Dosya Ekle</a></li>
            <li>@Html.ActionLink("Yönetim", "Index", "Management")</li>
        </ul>
    </div>
}
@RenderBody()

@section scripts
{
    @RenderSection("scripts", required: false)
}