@using System.Globalization
@using System.Threading
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Style/" + Thread.CurrentThread.CurrentCulture.Name)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-logo">
                </div>
            </div>
            <div class="navbar-collapse collapse">
                @RenderSection("Menu", required: false)
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Alfursan - &copy; 2014</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $(".modal-footer .btn-primary").click(function () {
                var form = $(".modal-body form");
                if ($("#form").validate()) {
                   
                } else {
                    alert("notvalid");
                    return false;
                }
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize()
                }).done(function (result) {
                    var messageCode = "alert-success";
                    if (result.ReturnCode == "2") {
                        messageCode = "alert-danger";
                    }
                    else if (result.ReturnCode == "3") {
                        messageCode = "alert-warning";
                    }
                    else if (result.ReturnCode == "4") {
                        messageCode = "alert-info";
                    }
                    var alertDiv = $(".alert");
                    if (alertDiv.size() > 0) {
                        alertDiv.removeAttr("class");
                        alertDiv.addClass("alert");
                        alertDiv.addClass(messageCode);
                        alertDiv.html(result.ResponseMessage);
                    } else {
                        $(".modal-body").append('<div class="alert ' + messageCode + '" role="alert">' + result.ResponseMessage + '</div>');
                    }

                }).fail(function () {
                    // Optionally alert the user of an error here...
                });
            });
        });
    </script>
</body>
</html>
